<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.FBLoginSample" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="com.FBLoginSample.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider378953672299686"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>





        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />


        <activity
            android:name=".activity.AboutUs"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activity.ContactUs"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".signup"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".myprof"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".test"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".me"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.FBLoginSample.mainscreens.MainMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.FBLoginSample.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".forgetPass"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBScw6qJsT1hcDbUfs1m73KBR_rmWPYeUQ"/>
    </application>

</manifest>
